@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:ital,wght@0,500;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main-div{
  position: relative;
  width: 100%;
  height: 1024px;
  background-image: url(./images/WhitePart.png),url(./images/BluePart.png);
  background-repeat: no-repeat;
  background-position: left top,right top;
  

}


.header-text{
  display: flex;
  padding-top: 43px;
  padding-left: 143px;
  gap: 7px;
}
.header-text-h1{
  font-family: Montserrat, sans-serif;
 color: #0A0A0A;
 ;
 margin-top: -5px;
 font-weight: 700;
}
.chlogo{
  margin-top: -5px;
}
.header-text-p{
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  color:  #606060;
  
}
.header-circle-pic{
 position: relative;


}
.circle-pic{
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 79px;
margin-top: 117px;

}
.circle-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF;
  transform: translate(-35%, -75%);
  text-align: center;

 
}
.button-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 172px;
  height: 54px;
  border-radius: 10px;
  margin-top: 90px;
  margin-left: 50px;
  border-style: none;
  background-color: #007BFF;
  color: #FFFF;
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  cursor: pointer;
  
}
.hidden-div{
  display: none;
  position: absolute;
  top: 60%;
  left: 47%;
  transform: translate(-35%, -75%);
  
  
  
 
  
  
 
}
.hidden-buttons{
 display: flex;
 gap: 35px;
 
  
  
  
}
.first-button-event{

width: 154px;
height: 74px;
border-radius: 10px;
background-color: #FFFF;
color: #243F60;
font-size: 24px;
line-height: 54px;
font-weight: 800;
font-family: Montserrat,sans-serif;
border-style: none;
cursor: pointer;


}
.second-button-event{
  width: 238px;
  height: 74px;
  font-weight: 800;
  border-radius: 10px;
  background-color: #FFFF;
  color: #007BFF;
  font-size: 24px;
  line-height: 54px;
  font-family: Montserrat,sans-serif;
  border-style: none;
  cursor: pointer;


}
.third-button-event{
  width: 126px;
  height: 74px;
  font-weight: 800;
  border-radius: 10px;
  background-color: #FFFF;
  font-size: 24px;
  line-height: 54px;
  font-family: Montserrat,sans-serif;
  color: #007BFF;
  border-style: none;
  cursor: pointer;
}
.search-bar{
  display: flex;
  
 
  width: 100%;
  height: 46px;
  border-radius: 10px;
  background-color:#FFFF;
  margin-top: 40px;
  
  


}
.events-webinars{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;

 
}
.webinar-btn{
 
  width: 122px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #0A0A0A;
}
.search-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.search-button{
  
  width: 114px;
  height: 46px;
 background: linear-gradient(#014497,#008183);

  
  border: 1px solid;
  border-radius: 10px;
  
  

border-image-source: linear-gradient(231.38deg, #7D42FF -5.3%, #08FCFF 119.03%);




}
.burger-menu .line{
  transition: transform 0.3 ease;
  transform-origin: center;
}
.burger-menu.active .line:nth-child(1){
  transform: translateY(6px) rotate(45deg);
  background-color: #007BFF;
}

.burger-menu.active .line:nth-child(2){
  opacity: 0;
}

.burger-menu.active .line:nth-child(3){
 transform: translateY(-9px)rotate(-45deg);
 background-color: #007BFF;
}

.burger-menu{


width: 30px;
height: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: end;
cursor: pointer;





}
.burger-menu.active {
position: absolute;
  top: 25px; /* Adjust the top position as needed */
  right: 120px; /* Adjust the right position as needed */
  z-index: 9999; /* Ensure the menu appears on top of other elements */
}

.line{
  
  width: 100%;
  height: 4px;
  background-color: #0A0A0A;
  transition: ease-in-out 1s;
}

.hamburger-menu{
display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-right: 120px;
margin-top: -15px;


}

.navbar{

  margin-top: 5rem;
  margin-right: 33rem;
 

 
  
  
}

.navbar-menu{
  list-style: none;
 
}
.nav-link{
  text-decoration: none;
  font-family: Montserrat,sans-serif;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 600;
  color: #0A0A0A;
}
.menu-h1{
  font-family: Montserrat,sans-serif;
  font-size: 40px;
  line-height: 48.76px;
  font-weight: 800;
  color: #FFFF;
}
.email-link{
  font-family: Montserrat,sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  color: #FFFF;
  text-decoration: none;
  


}
.tel-number{
  font-family: Montserrat,sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  color: #FFFF;
  text-decoration: none;
 

}

.navbar-menu li:first-child a{
  font-family: Montserrat,sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48.86px;
  color: #0A0A0A;
}
.navbar-menu li{
  margin-bottom: 20px;
}
.menu-text{

}



.cards-h1{
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #0A0A0A;
  margin-top: 120px;
}
.cardContainer{
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 60px;
position: relative;
}


#card-template{
 position: relative;
 
  width: 384px;
  height: 691px;
  cursor: pointer;
  
 
  
}
.card-content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 
}
.card-image{
  position: relative;
}
.card-p{
  color: var(--inks-01, #FFF);

  /* Desktop/Card text */
  font-size: 16px;
  font-family: Montserrat;
}
.card-header{
  color: var(--inks-01, #FFF);

/* Desktop/Heading 2 */
font-size: 32px;
font-family: Montserrat;
font-weight: 700;
margin: 20px;
}

.card-btn{
  display: flex;
  width: 162px;
  height: 54px;
  padding: 16px 32px;
 align-items: center;
  gap: 10px;
  border-radius: 10px;
background:#007BFF;

/* Button Shadow */
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);


color: #FFF;

/* Desktop/Button text */
font-size: 18px;
font-family: Montserrat;
font-weight: 700;


margin: 20px;
cursor: pointer;

}

.viewAllbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewMore-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 54px;
  border-radius: 10px;
background: var(--solid-secondary-regular, #007BFF);

/* Button Shadow */
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
color: #FFF;

/* Desktop/Button text */
font-size: 18px;
font-family: Montserrat;
font-weight: 700;
margin-top: 60px;
cursor: pointer;

}
.hiddencardContainer{
  display: none;
 
}


.communityText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 20px;
}
.ComunityH{
  color: var(--inks-06, #0A0A0A);


/* Desktop/Heading 2 */
font-size: 32px;
font-family: Montserrat;
font-weight: 700;
}

.CommunityP{
  color: var(--inks-06, #0A0A0A);
text-align: center;

/* Desktop/Paragraph */
font-size: 18px;
font-family: Montserrat;
}

.CirclesAnimation{
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 52px;
 margin-top: 96px;

}
.circle1{
  width: 135px;
  height: 135px;
  flex-shrink: 0;
  border-radius: 135px;
background: #A400CD;




}
.circle2{
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 47px;
  background: #3330B6;

}
.circle3{
  width: 135px;
height: 135px;
flex-shrink: 0;
border-radius: 135px;
background: #3330B6;

/* Desktop/Card headings */

}

.ux-ui{
  
  color: #F3F3F3;

  /* Desktop/Card headings */
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
text-align: center;
margin-top: 50px;
}
.productP{
  color: #F3F3F3;

font-size: 4px;
font-family: Inter;
text-align: center;
margin-top: 50px;

}
.front-end{
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  color: #F3F3F3;
  text-align: center;
  margin-top: 50px;

 


}